@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap&#39;);

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--verde);
}

.botao {
    font-family: "Crakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}

.botao.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.abas-textos {
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo {
    display: block;
}

.aba-conteudo {
    display: none;
}

.aba-conteudo-titulo-principal {
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario {
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}

.contador{
    text-align: center;
}
@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}

Adicionar comentário para a turma...


Aviso: "SEGUE O LINK DO GEA - 1º TRIMESTRE…"
VANESSA MARTA FERREIRA FERNANDES
Criado em: 26 de abr.26 de abr.
SEGUE O LINK DO GEA - 1º TRIMESTRE
https://docs.google.com/document/d/1LXYfbXkPRmDq_gDjWwwCdEfhiJKLmPku/edit?usp=sharing&ouid=105869776805041630370&rtpof=true&sd=true

Adicionar comentário para a turma...


Aviso: "<!DOCTYPE html> <html lang="pt-br">…"
VANESSA MARTA FERREIRA FERNANDES
Criado em: 25 de abr.25 de abr.
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto de Vida</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- <div id="minhaDiv">
        <p>Olá mundo!</p>
    </div> -->
    <section class="conteudo-principal">
        <h2 class="titulo-principal">Meus Objetivos do ano<span>_</span></h2>
        <div class="conteudo">
        <div class="botoes">
            <button class="botao ativo">Emagrecer 5 Kilos</button>
            <button class="botao">Aprender a tocar Viola caipira</button>
            <button class="botao">Pedalar 50 km por semana</button>
            <button class="botao">Atualizar meu currículo</button>
        </div>
        <div class="abas-textos">
            <div class="aba-conteudo ativo">
                <h3 class="aba-conteudo-titulo-principal">Emagrecer 5 Kilos</h3>
                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                <div class="contador"></div>
            </div>
            <div class="aba-conteudo">
                <h3 class="aba-conteudo-titulo-principal">Aprender a tocar Viola caipira</h3>
                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                <div class="contador"></div>
            </div>
            <div class="aba-conteudo">
                <h3 class="aba-conteudo-titulo-principal">Pedalar 50 km por semana</h3>
                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                <div class="contador"></div>
            </div>
            <div class="aba-conteudo">
                <h3 class="aba-conteudo-titulo-principal">Atualizar meu currículo</h3>
                <h4 class="aba-conteudo-titulo-secundario">Tempo para completar o objetivo</h4>
                <div class="contador"></div>
            </div>
        </div>
    </div>
    </section>
    <script src="main.js"></script>
</body>

</html>

Adicionar comentário para a turma...


Aviso: "5)Todas as configurações visuais dos…"
VANESSA MARTA FERREIRA FERNANDES
Criado em: 11 de abr.11 de abr.
5)Todas as configurações visuais dos elementos HTML são realizadas pela linguagem CSS. Agrupamos todas as declarações CSS de um mesmo elemento dentro de um(a)?
6)Sigla CSS significa?
7).Para mudar a cor de um texto em CSS, configuramos qual propriedade? 
8) A sigla HTML significa
